
#rightcontent3-list li a {
	color:white!important;
}
#navbar-left a{
	color:brown;
}
#menu ul li{
float:left !important;
}
#menu1{
	float: left;
}
.list{
	color:white !important;
	}
.navbar-right li a{
	color:white;
}
#background{
	width:100%!important;
	padding:300px;
margin-top:-81px; 

}
#menu{
	background-image:url("../images/sliderimage3.jpg");
}
.order {
	padding-right:260px; 
}
#down{
	padding-right:220px; 
}
#cotogory{
	border:1px solid white;
}
#cotogory p{
color:white;
}
#items{
	border:1px solid white;
}
#items p{
color:white;
}
#cost{
	border:1px solid white;
}
#cost p{
color:white;
}
#endingpart{
	width:100%;
	background-color:#f4d742;
	padding:80px;
	margin-top:0px;   
}
#mobile {
	margin-top:30px; 
}
#adress{
	margin-top:20px; 
}

#rightcontent input{
	
border:none;
border-bottom:1px solid #EAFAFI;
outline:0;
width:150px;
}